{% extends "base.html" %}
{% set active_page = "table_index" %}
{% block title %}表格示例{% endblock %}

{% block page %}

<h3>选择需要的标签</h3>
<div class="row">

       {% for col_name in data.columns %}
           <input class="column_show_hide" id="col_{{ col_name }}" type="checkbox" {% if loop.index <= 2 %}checked {% else %} unchecked {% endif %}/>{{ col_name }}
             <script>
            $('.column_show_hide').on('change', function (event, state) {
                if($( this).is(':checked')){
                    $("."+$( this ).attr('id')).show()
                }else{
                    $("."+$( this ).attr('id')).hide()
                }
            });

        </script>
       {% endfor %}


    </div>
    <div class="row">
        <div class="col-md-9 pre-scrollable">
                    <table class="table table-hover" >
                        <thead class="">
                            <tr >
                                {% for col_name in data.columns %}
                                    <th class="col_{{ col_name }}" style="display:{% if col_name in ['交易时间','成交价格'] %}true{% else %}none{% endif %};">{{ col_name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>


                        <tbody class="">
                            {% for row in data.iterrows()  %}
                               <tr  >
                                    {% for key in row[1].keys() %}
                                        <td style="display:{% if key in ['交易时间','成交价格'] %}true{% else %}none{% endif %};" class="col_{{ key }}">{{ row[1][key] }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                          </tbody>

            </table>
            <script>
                 $(function() {
{#                     $('.col_价格变动').hide();#}
{#                     $('.col_成交手').hide();#}
{#                     $('.col_成交金额').hide();#}
{#                     $('.col_买卖类型').hide();#}
                 })
                </script>
            </div>
    </div>



{% endblock %}
