{% extends "base.html" %}
{% set active_page = "table_index" %}
{% block title %}表格示例{% endblock %}

{% block page %}

<h3>选择需要的标签</h3>
    <p>为方便演示，此处仅显示100条数据。</p>
<div class="row">

       {% for col_name in data.columns %}
           <input class="column_show_hide" id="col_{{ col_name }}" type="checkbox" {% if loop.index <= 2 %}checked {% else %} unchecked {% endif %}/>{{ col_name }}
            <script>
            $('#col_{{ col_name }}').on('change', function () {
                if($( this).is(':checked')){
                    $(".col_{{ col_name }}").show()
                }else{
                    $(".col_{{ col_name }}").hide()
                }
            });

        </script>
       {% endfor %}


    </div>
    <div class="row">
        <div class="col-md-9 pre-scrollable">
                    <table class="table table-hover" >
                        <thead class="">
                            <tr >
                                {% for col_name in data.columns %}
                                    <th class="col_{{ col_name }}" style="display:{% if col_name in ['交易时间','成交价格'] %}true{% else %}none{% endif %};">{{ col_name }}</th>
                                {% endfor %}
                            </tr>
                        </thead>


                        <tbody class="">
                            {% for row in data.iterrows()  %}
                               <tr  >
                                    {% for key in row[1].keys() %}
                                        <td style="display:{% if key in ['交易时间','成交价格'] %}true{% else %}none{% endif %};" class="col_{{ key }}">{{ row[1][key] }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                          </tbody>

            </table>
            </div>
    </div>



{% endblock %}
