{% extends "base.html" %}
{% set active_page = "table_index" %}
{% block title %}表格示例{% endblock %}

{% block page %}
<h3>表格示例</h3>
    <table class="table">
    <thead>
        <tr>
{#            <th>{{ data.index.name }}</th>#}
            {% for col_name in data.columns %}
                <th>{{ col_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
{#        {% for row in data.ix[:data.index.__len__()] %}#}
        {% for row in data.values  %}
           <tr>
                {% for value in row %}
                    <td>{{ value }}</td>
                {% endfor %}

                <td></td>
            </tr>
        {% endfor %}
      </tbody>
    </table>

{% endblock %}
