{% extends "base.html" %}
{% set active_page = "index" %}


{% block title %}商业智能示例{% endblock %}

{% block page %}
    {{ super() }}

    <h1>登录</h1>
    <form action="" method="post" name="login">
        {{form.hidden_tag()}}
        <dl class="dl-horizontal">
          <dt>用户名:</dt>
          <dd>{{form.email(size=20)}}</dd>
            <br>
          <dt>密码:</dt>
          <dd>{{form.password(size=20)}}</dd>
            <br>
          <dt>记住我</dt>
          <dd>{{form.remember_me}}</dd>
            <br>
          <dt><input type="submit" value="登录"></dt>
        </dl>

    </form>
{% endblock %}
{% block script %}
    {{ super() }}
    {{ script }}
{% endblock script %}