{% extends "bootstrap/base.html" %}

{% block head %}
    {{ super() }}
    {% block favicon %}<link rel="icon" href="{{ url_for("homeRoute.static",filename="icon/favicon.png") }}">{% endblock %}
{% endblock head %}


{% block title %}商业智能Demo{% endblock title %}
{% block meta %}<meta charset="UTF-8">  {% endblock meta %}



{% block content %}
    <div class="container" >
      <h1>商业智能Demo</h1>
    {% set navigation_bar = [
        (url_for("homeRoute.index"), 'index', '首页'),
        (url_for("stockRoute.index",_method='POST',code='000001'), 'stock_index', '股票示例'),
        (url_for("chartRoute.index"), 'chart_index', 'Chart示例'),
        (url_for("tableRoute.index"), 'table_index', 'Table示例'),
    ] %}

        <ul class="nav nav-pills">
        {% for href, id, caption in navigation_bar %}
          <li {% if id == active_page %} class="active"{% endif
          %}><a href="{{ href|e }}">{{ caption|e }}</a></li>
        {% endfor %}
        </ul>
        <br>
        <br>

        {% block page %}{% endblock %}



    </div>
{% endblock %}

 {% block scripts %}
            {{ super() }}
            {% block script_src %}{% endblock %}
            <script>
                {% block script_code %}{% endblock %}
            </script>
{% endblock %}


