{% extends "bootstrap/base.html" %}

{% block head %}
    <link rel="stylesheet" href=" {{ url_for("homeRoute.static",filename="css/bootstrap.min.css") }}">
    <link rel="stylesheet" href=" {{ url_for("homeRoute.static",filename="css/bootstrapSwitch.css") }}">
    {% block favicon %}<link rel="icon" href="{{ url_for("homeRoute.static",filename="icon/favicon.png") }}">{% endblock %}
    <link rel="stylesheet" href=" {{ url_for("homeRoute.static",filename="css/mystyle.css") }}">
    <script src="{{ url_for("homeRoute.static",filename="js/jquery-1.11.3.min.js") }}"></script>
    <script src="{{ url_for("homeRoute.static",filename="js/bootstrap.min.js") }}"></script>
    <script src="{{ url_for("homeRoute.static",filename="js/bootstrapSwitch.js") }}"></script>
    <script src="{{ url_for('chartRoute.static', filename='echarts.min.js') }}"></script>
{% endblock head %}


{% block title %}商业智能Demo{% endblock title %}
{% block meta %}<meta charset="UTF-8">  {% endblock meta %}



{% block content %}
    <div class="bs-docs-header" tabindex="-1">
        <div class="container">
            <h1>商业智能Demo</h1>
        </div>
    </div>
    <div class="container" >

    {% set navigation_bar = [
        (url_for("homeRoute.index"), 'index', '首页'),
        (url_for("stockRoute.index",_method='POST',code='000001'), 'stock_index', '股票示例'),
        (url_for("chartRoute.index"), 'chart_index', 'Chart示例'),
        (url_for("tableRoute.index"), 'table_index', 'Table示例'),
    ] %}

        <ul class="nav nav-tabs">
{#            {% for href, id, caption in navigation_bar %}#}
{#              <li {% if id == active_page %} class="active"{% endif %}>#}
{#                  <a href="{{ href|e }}">{{ caption|e }}#}
{#                  </a>#}
{#              </li>#}
{#            {% endfor %}#}

            <li role="presentation" {% if 'index' == active_page %} class="active"{% endif %}> <a href="{{ url_for("homeRoute.index")|e }}">{{ '首页'|e }}</a></li>
            <li role="presentation" {% if 'stock_index' == active_page %} class="active"{% endif %}> <a href="{{ url_for("stockRoute.index")|e }}">{{ '股票示例'|e }}</a></li>
            <li role="presentation" class="dropdown {% if 'chart_index' == active_page or 'table_index'== active_page %} active {% endif %}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  单项示例 <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation" ><a href="{{ url_for("chartRoute.index")|e }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  {{ '报表展示'|e }}</a></li>
                    <li role="presentation" ><a href="{{ url_for("tableRoute.index")|e }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  {{ '后台数据'|e }}</a></li>
                    <li role="presentation" ><a href="{{ url_for("tableRoute.model")|e }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  {{ '模型展示'|e }}</a></li>
                    <li role="separator" class="divider"></li>
                    <li role="presentation" ><a href="{{ url_for("reportRoute.index")|e }}"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  {{ '自定义报表展示'|e }}</a></li>
                    <li role="presentation" > <a href="#">{{ '更多功能，尽请期待'|e }}</a></li>
                </ul>

        </ul>
        <br>

        {% block page %}{% endblock %}



    </div>
{% endblock %}

 {% block scripts %}
    <script>
        {% block script_code %}{% endblock %}
    </script>
{% endblock %}


